<footer>
    <div class="footer-blocks">
        <div class="footer-block">
            <div class="footer-block-header">Deezer</div>
            <div class="footer-list" role="list"><a class="footer-list-item" target="_blank" role="listitem"
                    href="https://www.deezer.com/en/offers">Plans</a><a class="footer-list-item" target="_blank"
                    role="listitem" href="https://www.deezer.com/features">Features</a><a class="footer-list-item"
                    target="_blank" role="listitem" href="https://www.deezer.com/en/devices">Devices</a><a
                    class="footer-list-item" target="_blank" role="listitem"
                    href="https://www.deezer.com/support">Help</a><a class="footer-list-item" target="_blank"
                    role="listitem" href="https://www.deezer.com/en/company">About us</a><a class="footer-list-item"
                    target="_blank" role="listitem" href="https://www.deezerjobs.com">Careers</a></div>
        </div>
        <div class="footer-block">
            <div class="footer-block-header">Explore</div>
            <div class="footer-list" role="list"><a class="footer-list-item" target="_blank" role="listitem"
                    href="https://www.deezer.com/en/channels/explore">All Channels</a><a class="footer-list-item"
                    target="_blank" role="listitem" href="https://www.deezer.com/en/channels/charts">Charts</a><a
                    class="footer-list-item" target="_blank" role="listitem"
                    href="https://www.deezer.com/en/channels/popular">Most popular release</a><a
                    class="footer-list-item" target="_blank" role="listitem"
                    href="https://www.deezer.com/en/channels/new">New
                    Releases</a></div>
        </div>
        <div class="footer-block">
            <div class="footer-block-header">WHO ARE WE?</div>
            <div class="footer-list" role="list"><a class="footer-list-item" target="_blank" role="listitem"
                    href="https://www.deezer.com/en/company/label_artists">Labels &amp; artists</a><a
                    class="footer-list-item" target="_blank" role="listitem"
                    href="https://developers.deezer.com/">Developers</a><a class="footer-list-item" target="_blank"
                    role="listitem" href="https://www.deezer.com/en/company/press">Press</a>
            </div>
        </div>
        <div class="footer-block">
            <div class="footer-block-header">Legal</div>
            <div class="footer-list" role="list"><a class="footer-list-item" target="_blank" role="listitem"
                    href=https://www.deezer.com"/legal/cgu">Terms and Conditions of Use</a> <a class="footer-list-item"
                    target="_blank" role="listitem" href="https://www.deezer.com/legal/personal-datas">Personal data and
                    cookies</a><a class="footer-list-item" target="_blank" role="listitem"
                    href="mailto:privacy@deezer.com">Contact: privacy@deezer.com</a><a class="footer-list-item"
                    target="_blank" role="listitem" href="https://www.deezer.com/legal/legal">Legal Notice</a><a
                    class="footer-list-item" target="_blank" role="listitem" href="https://www.deezer.com/">Privacy
                    settings</a></div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-social"><a href="https://www.facebook.com/deezerfr"
                class="footer-bottom-social-facebook" target="_blank"><img
                    src="https://cdns-files.dzcdn.net/cache/slash/images/ucps/social/facebook.cbbd499931dfe4e7d8e626b9e3e5496b.svg"
                    alt="facebook"></a><a href="https://twitter.com/DeezerFR" class="footer-bottom-social-twitter"
                target="_blank"><img
                    src="https://cdns-files.dzcdn.net/cache/slash/images/ucps/social/twitter.73fdecd5a56c50b1a572e1d4b55f25ad.svg"
                    alt="twitter"></a><a href="https://www.instagram.com/deezerfr"
                class="footer-bottom-social-instagram" target="_blank"><img
                    src="https://cdns-files.dzcdn.net/cache/slash/images/ucps/social/insta.95abdd7cef33330deafcd162ddc13c0b.svg"
                    alt="instagram"></a></div>
        <div class="footer-bottom-logo">
            <div class="footer-logo-deezer">
                <img src="{{ '/static/images/logo-multi-black.svg' | prepend: site.url }}">
            </div>
        </div>
    </div>
</footer>