<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <style>
            body {
                margin: 0;
            }
            iframe {
                border: none;
                padding: 0;
                margin: 0;
                height: 100vh;
                width: 100vw;
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <iframe
            src="{{ page.proxy_url }}"
            frameborder="0"
            seamless="seamless"></iframe>
    </body>
</html>
